<!--<h1>Tiles</h1>-->

<div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Tiles</h2>
                    <hr class="star-primary">
                </div>
            </div>

<div class="row tiles">
<% @posts.each do |post| %>
<div class="col-md-3 portfolio-item" align="center">
 <div class="caption">
<div class="tilename">
	<h3><%=post.title %></h3>
  </div>
  <div class="tileimg">
  <%= link_to post_path(id: post) do %>
  <%= image_tag post.image.url %>
  <% end %>
  </div>
	<div class="descript">
  <p><%= post.body %></p>
  </div>
  </div>"
  "
</div>
<% end %>
</div>
